@import url("/Doareen/css/home/cabecalho.css");
@import url("/Doareen/css/home/banner.css");
@import url("/Doareen/css/home/categorias.css");
@import url("/Doareen/css/home/rodape.css");
@import url("/Doareen/css/categorias/categoria.css");
@import url("/Doareen/css/anunciar/formulario.css");
@import url("/Doareen/css/meu-perfil/meu-perfil.css");
@import url("/Doareen/css/ver-produto/ver-produto.css");
@import url("/Doareen/css/ver-produto/relacionados.css");
@import url("/Doareen/css/meus-interesses/meus-interesses.css");
@import url("/Doareen/css/chat-interessado/chat-interessado.css");
@import url("/Doareen/css/chat-doador/chat-doador.css");
@import url("/Doareen/css/cadastro/cadastro.css");
@import url("/Doareen/css/login/login.css");

body{

	font-size: 16px;
	font-family: "Open Sans";
	--branco: #FFFFFF;
	--preto: #000000;
	--azul-botao: #3368ff;
	--azul-pesquisa: #42BCF0;
	--cinza: gray;
	--cinza-escuro: #636363;
	--cor-footer: #3D3D3C;
	--azul-escuro: #006B99;
	--cor-fundo: #EDEDED;
	--vermelho: #FF0000;

	background-color: var(--cor-fundo);

}
