.banner{
	
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.banner__logo{
	
	margin: 3em 0;
	width: 90vw;
	
}

.banner__pesquisa{
	
	width: 300px;
	height: 35px;
	border: 2px solid var(--azul-pesquisa);
	border-radius: 5px;
	padding-left: 1em;
	margin: 0;
	
}

.banner__pesquisa::placeholder{
	
	background: url("/Doareen/img/search.svg") no-repeat;
	background-position-y: center;
	background-position-x: 14em;
	font-size: 18px;
	
}

.input__container{

	position: relative;
    width: 300px;
    height: 35px;
    margin: 0;
    padding-left: 1em;
  
}

.pesquisa__container{

	border-bottom: 1px solid var(--cinza);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    height: 65px;
    background-color: var(--branco);
    padding: 1em 0;
    position: relative;
    left: -10px;
  	cursor: pointer;
  
}

.pesquisa__container:hover{

	background-color: var(--cinza);

}

.pesquisa__container-imagem{

	max-width: 95px;
  	max-height: 95px;
  	margin-left: 1em;

}

.pesquisa__container-nome{

	display: inline;

}

.banner__descricao{
	
	width: 90vw;
	height: 300px;
	margin: 2em auto;
	background-image: url("/Doareen/img/background-descricao 1.svg");
	
	
}

.banner__descricao-titulo{
	
	font-size: 24px;
	padding: 1em 0;
	color: var(--branco);
	
}

.banner__descricao-texto{
	
	color: var(--branco);
	text-align: left;
	padding: 1em 0 1em 1em;
	
}

@media screen and (min-width: 768px) {
	
	.banner__logo{

		width: 60vw;

	}

}

@media screen and (min-width: 1360px) {
	
	.banner__pesquisa, .input__container{

		width: 370px;

	}

	.banner__pesquisa::placeholder{

		background-position-x: 18em;

	}

}
