.categoria{

    height: auto;
    display: flex;
    justify-content: center;

}

.categoria__container{

    margin: 0 7em 7em 7em;

}

.categoria__titulo{

    color: var(--azul-escuro);
    margin: 2em 0;
    font-weight: 500;
    font-size: 33px;

}

.categoria__produtos{

    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    gap: 50px;
    justify-content: center;

}

.categorias__card{

    margin-left: 0;

}

@media screen and (min-width: 768px) {

    .categorias__card{

        width: 290px;

    }
    
}

@media screen and (min-width: 1360px) {
    
    .categoria__produtos{

        justify-content: unset;

    }

}